<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>{{homepage.title}}</h1>
  <ul>
  {{#odpadky}}
    <h3><a href='/odpadek/{{id}}'>{{name}}</a></h3>
    <p>{{content}}</p>
    <hr/>
  {{/odpadky}}
  </ul>
</body>
</html>
