<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/styles/fa/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/styles/jquery.auto-complete.css" />
{{#if env.production}}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js" integrity="sha256-OQFsXEK3UpvAlOjkWPTPt+jOHF04+PgHoZES3LTjWos=" crossorigin="anonymous"></script> -->
{{else}}
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <script src="/js/jquery-3.1.1.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.auto-complete.js"></script>
    <!-- <script src="/js/jquery.fn.sortable.js"></script> -->
{{/if}}

  </head>
  <body>

    {{!--
    <nav class="navbar navbar-light bg-faded" style="flex-direction: row">
      <a class="navbar-brand" href="/">KamToHodit.cz</a>
      <ul class="navbar-nav flex-row">
        <li class="nav-item active" style="padding: 5px;">
          <a class="nav-link" href="/odpadky">Odpadky</a>
        </li>
        <!--
        <li class="nav-item active" style="padding: 5px;">
          <a class="nav-link" href="/kategorie">Kategorie</a>
        </li>
        -->
        <li class="nav-item active" style="padding: 5px;">
          <a class="nav-link" href="/kontejner">Kontejnery</a>
        </li>
        <li class="nav-item" style="padding: 5px;">
          <a class="nav-link" href="/odpadky/napadovnik">Nápadovník</a>
        </li>
      </ul>
      <form class="form-inline" action="/odpadky/" method="GET" enctype="application/x-www-form-urlencoded" style="display: inline-block;">
        <input type="text" name="q" class="form-control mr-sm-2" />
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Hledat</button>
      </form>
    </nav>
    --}}

    <div class="container">
      {{{body}}}
    </div>

  </body>
</html>
