<form action="/znamky/" method="GET" enctype="application/x-www-form-urlencoded" style="display: inline-block;">
  <input type="text" name="q" class="form-control" />
	<input type="submit" value="Hledat" class="btn btn-secondary" />
</form>
