<h1>Los Odpadkos</h1>
{{! TODO bootstrap a zarovnat do krabicek ;) }}
<ul>
	<li>
		<p>
			<a href="/odpadky/novy">Vytvořit nový</a>
		</p>
	</li>
{{#odpadky}}
	<li>
		<h3><a href='/odpadky/{{id}}'>{{name}}</a></h3>
		{{! TODO preview helper metoda aby se zobrazovalo jen prvnich 100 znaku contentu }}
		<p>{{content}}</p>
		<p>
			<a href="/odpadky/{{id}}/upravit">upravit</a>
			{{> trash/delete}}
		</p>
	</li>
	<hr/>
{{/odpadky}}
</ul>
